body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #4CAF50;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

#answer-buttons {
    margin-bottom: 20px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.answer-button {
    margin: 10px 0; /* Aumenta o espaço entre as respostas */
}

#next-button {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

#next-button:hover {
    background-color: #007B9E;
}
